* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

#root {
  overflow: hidden;
}

.flex {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.input-position {
  width: 30%;
  position: relative;
}
